Repository gedeoni/sync-bridge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx,jsx}": "eslint --fix",
  "*.md": "prettier --write"
}

feat: add Go Fiber service to project overview and simplify Rust README description
  README.md
  sync-bridge-rust/README.md
Due: prettier --write

feat: implement RequestIdMiddleware in C# and add core API test coverage across FastAPI and C# projects.
  README.md
  sync-bridge-fastapi/README.md
  sync-bridge-fastapi/app/__init__.py
  sync-bridge-fastapi/app/config.py
  sync-bridge-fastapi/app/database.py
  sync-bridge-fastapi/app/exceptions.py
  sync-bridge-fastapi/app/graphql.py
  sync-bridge-fastapi/app/main.py
  sync-bridge-fastapi/app/mappers.py
  sync-bridge-fastapi/app/middleware.py
  sync-bridge-fastapi/app/models.py
  sync-bridge-fastapi/app/routes/__init__.py
  sync-bridge-fastapi/app/routes/health.py
  sync-bridge-fastapi/app/routes/sync.py
  sync-bridge-fastapi/app/routes/sync_history.py
  sync-bridge-fastapi/app/schemas.py
  sync-bridge-fastapi/app/services/__init__.py
  sync-bridge-fastapi/app/services/sync.py
  sync-bridge-fastapi/app/services/sync_history.py
  sync-bridge-fastapi/pyproject.toml
  sync-bridge-fastapi/requests.http
  sync-bridge-fastapi/requirements.txt
  sync-bridge-fastapi/tests/conftest.py
  sync-bridge-fastapi/tests/test_auth.py
  sync-bridge-fastapi/tests/test_graphql.py
  sync-bridge-fastapi/tests/test_history.py
  sync-bridge-fastapi/tests/test_sync.py
  sync-bridge-fastapi/uv.lock
Due: prettier --write

feat: initialize C# project structure and migrate away from Express coverage artifacts
  sync-bridge-fastapi/app/services/__init__.py
  sync-bridge-fastapi/app/services/sync.py
Due: none

updated mappers and added CI for fastapi
  .githooks/pre-commit
  .github/workflows/ci.yml
  .gitignore
  sync-bridge-fastapi/app/dtos.py
  sync-bridge-fastapi/app/mappers.py
  sync-bridge-fastapi/app/routes/sync.py
  sync-bridge-fastapi/app/services/sync.py
  sync-bridge-fastapi/requests.http
Due: none

ci: fix fastapi install dependencies step by using uv sync
  .github/workflows/ci.yml
Due: none

triggering mappers
  sync-bridge-fastapi/app/mappers.py
Due: none

ci: set PYTHONPATH=. for pytest in fastapi CI
  .github/workflows/ci.yml
Due: none

triggering the service
  sync-bridge-fastapi/app/mappers.py
Due: none

chore: set default AUTHORIZATION_KEY in jest setup for testing environment
  sync-bridge-express/jest.setup.js
Due: eslint --fix

docs: add standardized environment configuration sections to all project READMEs
  README.md
  sync-bridge-django/README.md
  sync-bridge-express/README.md
  sync-bridge-fastapi/README.md
  sync-bridge-go/README.md
  sync-bridge-java/README.md
  sync-bridge-nestjs/README.md
Due: prettier --write

triggering deployments
  .githooks/pre-commit
  README.md
  sync-bridge-django/uv.lock
  sync-bridge-express/jest.config.js
  sync-bridge-java/README.md
  sync-bridge-nestjs/package.json
Due: eslint --fix, prettier --write

docs: update test coverage badges for Java, Django, and Rust services in README
  README.md
Due: prettier --write
