Repository gedeoni/sync-bridge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

added readme
  .vscode/launch.json
  .vscode/tasks.json
  Dockerfile
  README.md
  changelog.md
  commitlint.config.d.ts
  commitlint.config.js
  ecosystem.config.d.ts
  ecosystem.config.js
  jest.config.d.ts
  jest.config.js
  package.json
  src/api/controllers/status/status.controller.ts
  src/api/controllers/sync/sync.validation.ts
  src/app.ts
  src/databases/drop.ts
  src/databases/sequelize.ts
  src/swagger.ts
  swagger.js
  tsconfig.json
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

feature: added a new way to track sync history
  README.md
  src/api/controllers/main.routes.ts
  src/api/controllers/sync-history/syncHistory.controller.ts
  src/api/controllers/sync-history/syncHistory.routes.ts
  src/api/controllers/sync/sync.controller.ts
  src/api/controllers/sync/sync.routes.ts
  src/databases/models/syncHistory.model.ts
  src/databases/sequelize.ts
Due: eslint --fix, prettier --write

added employees
  .gitignore
  README.md
  src/api/controllers/sync/sync.controller.ts
  src/api/controllers/sync/sync.validation.ts
  src/app.ts
  src/databases/drop.ts
  src/databases/models/employee.model.ts
  src/databases/sequelize.ts
  src/helpers/customEnv.ts
  src/routes/main.routes.ts
Due: eslint --fix, prettier --write

feat: add graphql api with queries, mutations, and subscriptions for employee management
  package-lock.json
  package.json
  requests.http
  schema.graphql
  src/databases/models/employee.model.ts
  src/databases/sync.ts
  src/graphql/pubsubInstance.ts
  src/graphql/resolvers/employee.resolver.ts
  src/graphql/schema.ts
  src/graphql/server.ts
  src/graphql/ws.ts
  src/scripts/subscribe_employee.ts
  src/server.ts
  tsconfig.json
Due: eslint --fix

initiating sync-bridge-nestjs with a core functionality
  .env.example
  .eslintrc.json
  .gitignore
  .prettierrc
  .vscode/launch.json
  README.md
  nest-cli.json
  package-lock.json
  package.json
  src/app.module.ts
  src/common/decorators/public.decorator.ts
  src/common/filters/global-exception.filter.ts
  src/common/guards/api-key-auth.guard.ts
  src/common/utils/response.util.ts
  src/global-validation.pipe.ts
  src/health/health.controller.ts
  src/health/health.module.ts
  src/health/health.service.ts
  src/main.ts
  src/sync-history/sync-history.controller.ts
  src/sync-history/sync-history.module.ts
  src/sync-history/sync-history.service.ts
  src/sync/dto/sync.dto.ts
  src/sync/entities/customer.entity.ts
  src/sync/entities/employee.entity.ts
  src/sync/entities/order-item.entity.ts
  src/sync/entities/order.entity.ts
  src/sync/entities/product.entity.ts
  src/sync/entities/sync-history.entity.ts
  src/sync/entities/sync-status.enum.ts
  src/sync/sync.controller.ts
  src/sync/sync.mapper.ts
  src/sync/sync.module.ts
  src/sync/sync.service.ts
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix, prettier --write

added aspect-based instrumentation
  README.md
  src/app.module.ts
  src/common/decorators/monitored.decorator.ts
  src/common/interceptors/monitored.interceptor.ts
  src/common/services/metrics.service.ts
  src/health/health.controller.ts
  src/sync-history/sync-history.controller.ts
  src/sync/sync.controller.ts
Due: eslint --fix, prettier --write

feat: added graphql
  README.md
  package-lock.json
  package.json
  requests.http
  src/app.module.ts
  src/common/filters/global-exception.filter.ts
  src/common/guards/api-key-auth.guard.ts
  src/common/interceptors/monitored.interceptor.ts
  src/graphql/dto/employee.input.ts
  src/graphql/employee.resolver.ts
  src/graphql/graphql.module.ts
  src/sync/entities/employee.entity.ts
Due: eslint --fix, prettier --write

fix: graphql endpoint not being reached
  schema.graphql
  src/app.ts
  src/databases/models/employee.model.ts
  src/graphql/pubsubInstance.ts
Due: eslint --fix

feat: implement environment configuration and project dependency management with uv while updating authentication to allow GET requests
  sync_bridge/wsgi.py
Due: none

feat: add drf-spectacular for OpenAPI documentation and update authentication to allow GET requests
  README.md
  common/auth.py
  graphql_api/apps.py
  graphql_api/views.py
  pyproject.toml
  requirements.txt
  sync_bridge/settings.py
  sync_bridge/urls.py
  uv.lock
Due: prettier --write

feat: add polymorphic API documentation and validation serializers for data sync endpoints
  sync/serializers.py
  sync/views.py
Due: none

perf: optimize sync batch processing, migrate middleware to functional style, and secure auth tokens with constant-time comparison
  common/auth.py
  common/middleware.py
  common/monitoring.py
  graphql_api/views.py
  sync/services.py
  sync_bridge/settings.py
Due: none

test: implement automated test suite for GraphQL, middleware, and synchronization logic
  README.md
  graphql_api/views.py
  tests/__init__.py
  tests/test_auth.py
  tests/test_graphql.py
  tests/test_middleware.py
  tests/test_sync.py
Due: prettier --write

feat: implement CI pipeline with Ruff linting and update project dependencies
  .github/workflows/ci.yml
  pyproject.toml
  requirements.txt
  sync/serializers.py
  sync/services.py
  sync_history/views.py
  tests/test_middleware.py
  uv.lock
Due: none

fix: resolve invalid commit SHAs in CI workflow
  .github/workflows/ci.yml
Due: none

fix: use correct mutable tag for setup-uv in CI
  .github/workflows/ci.yml
Due: none

style: format all codebase files with Ruff formatter
  common/auth.py
  common/exceptions.py
  common/middleware.py
  common/monitoring.py
  common/responses.py
  graphql_api/apps.py
  graphql_api/routing.py
  graphql_api/schema.py
  graphql_api/views.py
  health/apps.py
  health/urls.py
  health/views.py
  manage.py
  sync/apps.py
  sync/migrations/0001_initial.py
  sync/models.py
  sync/serializers.py
  sync/services.py
  sync/urls.py
  sync/views.py
  sync_bridge/asgi.py
  sync_bridge/settings.py
  sync_bridge/urls.py
  sync_bridge/wsgi.py
  sync_history/apps.py
  sync_history/migrations/0001_initial.py
  sync_history/models.py
  sync_history/serializers.py
  sync_history/urls.py
  sync_history/views.py
  tests/test_auth.py
  tests/test_graphql.py
  tests/test_middleware.py
  tests/test_sync.py
Due: none

docs: add reference to requests.http for API usage examples
  README.md
Due: prettier --write

feat: implement rate limiting (throttling) for REST endpoints
  README.md
  common/auth.py
  sync_bridge/settings.py
Due: prettier --write

docs: document git pre-commit hook in README
  README.md
Due: prettier --write

docs: use tracked .githooks directory for pre-commit checks on staged files
  .githooks/pre-commit
  README.md
Due: prettier --write

test: verify pre-commit hook runs on staged Python files
  tests/test_auth.py
Due: none

test: add CI pipeline, checkstyle enforcement, and comprehensive integration testing suite
  .githooks/pre-commit
  .github/workflows/java-ci.yml
  README.md
  checkstyle.xml
  pom.xml
  src/main/java/com/syncbridge/aspect/SyncAspect.java
  src/main/java/com/syncbridge/controller/StatusController.java
  src/main/java/com/syncbridge/controller/SyncController.java
  src/main/java/com/syncbridge/controller/SyncHistoryController.java
  src/main/java/com/syncbridge/entity/ApiResponse.java
  src/main/java/com/syncbridge/mapper/SyncMapper.java
  src/main/resources/application.yml
  src/test/java/com/syncbridge/SyncApiIntegrationTest.java
  src/test/java/com/syncbridge/mapper/SyncMapperTest.java
  src/test/resources/application-test.yml
Due: prettier --write

docs: update and standardize README formatting and content
  README.md
Due: prettier --write

refactor: introduce SyncableEntity interface and decouple SyncService from concrete entities using SyncHistoryService for atomic status updates
  src/main/java/com/syncbridge/config/WebConfig.java
  src/main/java/com/syncbridge/entity/Customer.java
  src/main/java/com/syncbridge/entity/Employee.java
  src/main/java/com/syncbridge/entity/Order.java
  src/main/java/com/syncbridge/entity/Product.java
  src/main/java/com/syncbridge/entity/SyncableEntity.java
  src/main/java/com/syncbridge/security/AuthFilter.java
  src/main/java/com/syncbridge/service/SyncHistoryService.java
  src/main/java/com/syncbridge/service/SyncService.java
  src/main/resources/application.yml
  src/test/java/com/syncbridge/SyncApiIntegrationTest.java
Due: none

feat: add Swagger documentation, TypeORM migrations, Husky git hooks, and expanded test coverage
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  README.md
  nest-cli.json
  package-lock.json
  package.json
  src/app.module.ts
  src/common/filters/global-exception.filter.ts
  src/common/guards/api-key-auth.guard.ts
  src/common/interceptors/monitored.interceptor.ts
  src/common/services/metrics.service.ts
  src/db/data-source.ts
  src/graphql/dto/employee.input.ts
  src/graphql/employee.resolver.ts
  src/health/health.controller.spec.ts
  src/health/health.controller.ts
  src/health/health.service.spec.ts
  src/main.ts
  src/migrations/1780080587244-InitialSchema.ts
  src/sync-history/sync-history.controller.spec.ts
  src/sync-history/sync-history.controller.ts
  src/sync-history/sync-history.service.spec.ts
  src/sync/dto/sync.dto.ts
  src/sync/entities/employee.entity.ts
  src/sync/sync.controller.spec.ts
  src/sync/sync.controller.ts
  src/sync/sync.service.spec.ts
  src/sync/sync.service.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
Due: eslint --fix, prettier --write

docs: document git pre-commit hooks and GitHub Actions CI workflow in README
  README.md
Due: prettier --write

refactor: consolidate project-specific git hooks and CI workflows into unified repository-level scripts and configurations
  .githooks/pre-commit
  .github/workflows/ci.yml
  .gitignore
  .vscode/settings.json
  README.md
  setup-hooks.sh
  sync-bridge-django/.githooks/pre-commit
  sync-bridge-django/.github/workflows/ci.yml
  sync-bridge-django/.gitignore
  sync-bridge-express/.github/workflows/express-ci.yml
  sync-bridge-express/.gitignore
  sync-bridge-express/.husky/.gitignore
  sync-bridge-express/.husky/commit-msg
  sync-bridge-express/.husky/pre-commit
  sync-bridge-express/package.json
  sync-bridge-java/.githooks/pre-commit
  sync-bridge-java/.github/workflows/java-ci.yml
  sync-bridge-java/.gitignore
  sync-bridge-java/pom.xml
  sync-bridge-nestjs/.github/workflows/ci.yml
  sync-bridge-nestjs/.gitignore
  sync-bridge-nestjs/.husky/pre-commit
  sync-bridge-nestjs/package.json
Due: prettier --write

feat: implement Rust-based sync bridge service with Axum, GraphQL, and SQLite support
  .githooks/pre-commit
  sync-bridge-rust/Cargo.lock
  sync-bridge-rust/Cargo.toml
  sync-bridge-rust/README.md
  sync-bridge-rust/migrations/20260530000000_init.sql
  sync-bridge-rust/requests.http
  sync-bridge-rust/src/config.rs
  sync-bridge-rust/src/db.rs
  sync-bridge-rust/src/dto.rs
  sync-bridge-rust/src/errors.rs
  sync-bridge-rust/src/graphql/mod.rs
  sync-bridge-rust/src/graphql/mutation.rs
  sync-bridge-rust/src/graphql/query.rs
  sync-bridge-rust/src/graphql/schema.rs
  sync-bridge-rust/src/graphql/subscription.rs
  sync-bridge-rust/src/handlers/health.rs
  sync-bridge-rust/src/handlers/history.rs
  sync-bridge-rust/src/handlers/mod.rs
  sync-bridge-rust/src/handlers/sync.rs
  sync-bridge-rust/src/lib.rs
  sync-bridge-rust/src/main.rs
  sync-bridge-rust/src/metrics.rs
  sync-bridge-rust/src/middleware.rs
  sync-bridge-rust/tests/integration_tests.rs
Due: prettier --write

ci: add rust CI job to consolidated GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

feat: add Rust Axum service to documentation and expand request templates with employee, product, and order test cases
  README.md
  sync-bridge-django/requests.http
  sync-bridge-express/requests.http
  sync-bridge-java/requests.http
  sync-bridge-nestjs/requests.http
Due: prettier --write

ci: add subproject detection and logging to pre-commit hook
  .githooks/pre-commit
Due: none

feat: implement initial Sync Bridge Go server with REST and GraphQL APIs, SQLite persistence, and integration testing
  sync-bridge-go/README.md
  sync-bridge-go/cmd/server/main.go
  sync-bridge-go/docs/docs.go
  sync-bridge-go/docs/swagger.json
  sync-bridge-go/docs/swagger.yaml
  sync-bridge-go/go.mod
  sync-bridge-go/go.sum
  sync-bridge-go/gqlgen.yml
  sync-bridge-go/graph/generated.go
  sync-bridge-go/graph/model/models_gen.go
  sync-bridge-go/graph/resolver.go
  sync-bridge-go/graph/schema.graphqls
  sync-bridge-go/graph/schema.resolvers.go
  sync-bridge-go/internal/config/config.go
  sync-bridge-go/internal/db/db.go
  sync-bridge-go/internal/db/migrations/001_init.sql
  sync-bridge-go/internal/dto/dto.go
  sync-bridge-go/internal/errors/errors.go
  sync-bridge-go/internal/handlers/health.go
  sync-bridge-go/internal/handlers/history.go
  sync-bridge-go/internal/handlers/sync.go
  sync-bridge-go/internal/metrics/metrics.go
  sync-bridge-go/internal/middleware/middleware.go
  sync-bridge-go/migrations/001_init.sql
  sync-bridge-go/requests.http
  sync-bridge-go/tests/integration_test.go
Due: prettier --write

feat: add Go project support to pre-commit hooks and CI workflow
  .githooks/pre-commit
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx,jsx}
  prettier --write: any of: *.md
